* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Fira Code', monospace;
    background: #f2c6bd;
}

a{
    text-decoration: none;
    color: #262626;
    font-size: 15px;
}

ul{
    text-decoration: none;
    list-style: none;
}

.container {
    max-width: 1100px;
    margin: auto;
    width: 90%;
} 

.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    padding: 20px 0;
}
.main-nav .logo {
    width: 100px;
}

.main-nav ul {
    display: flex;
}

.main-nav ul li {
    padding: 0 15px;
}

.main-nav ul li a:hover {
    border-bottom: 2px solid #262626;
}

.main-nav .home {
    font-weight: 500;
}


.main-nav ul li a span {
    background:#3242c3;
    color: #fff;
    border-radius: 2px;
    padding: 10px 25px;
}
