* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Fira Code', monospace;
    background: #f2c6bd;
}

a{
    text-decoration: none;
    color: #262626;
    font-size: 15px;
}

ul{
    text-decoration: none;
    list-style: none;
}

.container {
    max-width: 1100px;
    margin: auto;
    width: 90%;
} 

.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    padding: 20px 0;
}
.main-nav .logo {
    width: 100px;
}

.main-nav ul {
    display: flex;
}

.main-nav ul li {
    padding: 0 15px;
}

.main-nav ul li a:hover {
    border-bottom: 2px solid #262626;
}

.main-nav .home {
    font-weight: 500;
}

.main-nav ul li a span {
    background:#3242c3;
    color: #fff;
    border-radius: 2px;
    padding: 10px 25px;
    border:0;
}

.main-nav ul li a span:hover {
    color: black;
}
 .btn {
    cursor: pointer;
    padding: 10px 20px;
    border: 0;
    display: inline-block;
    background: #2f40c4;
    font-weight: bold;
    font-size: 15px;
    color: #fff;
    margin-top: 20px;
}

.btn:hover {
    opacity: 0.9;    
}

.white {
    background: #fff;
    color:#2f40c4;
}

hr {
    border-color: #262626;
}

.display {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin-top: 150px;
}
.display h1 {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
.display p, dark {
    color: #4a4144;
    margin-top: 20px;
    line-height: 1.5;
}
.display img{
    width: 100%;
}   
